---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import LogPreview from "../components/LogPreview.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Benjamin Fink | Senior Risk Manager"
  description="Senior Risk Manager specializing in risk analytics, quantitative methods, and building scalable risk technology platforms."
>
  <Header />
  <main id="main-content">
    <Hero />
    <About />
    <LogPreview />
    <Skills />
    <Experience />
    <Projects />
    <Education />
  </main>
  <Footer />
</Layout>
